body {
  margin: 0 !important;
  padding: 0 !important;
}

.backgroundImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/donation6.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  position: relative;
}
.text-area {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.bannarH1 {
  font-weight: bold;
  font-size: 60px;
}
.bannarP {
  font-size: 20px;
}
.bannarButton {
  width: 200px;
  height: 70px;
  background-color: coral;
  text-decoration: none;
  color: rgb(17, 16, 15);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
